<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Smoke">
    <classes>
      <class name="com.policybazaar.tests.SuiteSetup"/>
      <class name="com.policybazaar.tests.TravelInsuranceTests"/>
      <class name="com.policybazaar.tests.CarInsuranceTests"/>
      <class name="com.policybazaar.tests.HealthInsuranceTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
